!jest.config.js
!eslint.config.js
*.d.ts
node_modules
.jest-cache
.tmp

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-outputs.json

# Environment files
.env*
!.env.example
env.inferred

# NPM credentials
.npmrc
.npmrc.backup

# Deployment outputs
.env.deploy
